<header class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0 ml-auto">
        <a class="nav-link" href="{{ '/#papers' | prepend: site.baseurl }}">Papers</a>
        <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a>
      </ul>
    </div>
  </div>
</header>
